body{
  background-image: url("background.jpg");
  background-size: cover;
}

img{
  width: 200px;
  height: auto;
  padding-left: 220px;
  padding-top: 20px;
}

section > h3{
  display: inline-block;
  height: 1px;
  font-size: 17px;
}

section > p{
  height: 1px;
  font-size: 12px;
}

nav{
  background-color: lightgreen;
  height: 35px;
}

#container{
  margin:auto;
  margin-top: 100px;
  width: 700px;
  color: #000;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2%;
}

#box{
  width: 600px;
  margin: auto;
  font-family: 'Rubik', sans-serif;
}

.title {
  text-align: center;
  color: lightgreen;
}

.buttons{
  padding: 7px;
  margin-left: 150px;
}

.check{
  color: white;
}

.Line{
  height: 20px;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10%;
}

.Semicharge{
  background-color: orange;
  width: 250px;
}

.Charge{
  background-color: green;
  width: 450px;
}

.Outcharge{
  background-color: red;
  width: 100px;
}
